#u1907
{
	-webkit-transform: matrix(-1,0,0,-1,645,3);
	-ms-transform: matrix(-1,0,0,-1,645,3);
	-o-transform: matrix(-1,0,0,-1,645,3);
	transform: matrix(-1,0,0,-1,645,3);
	position: relative;
}

#u1913
{
	border-color: #000000;
	position: relative;
	background: transparent url("../images/home196x392.png") no-repeat center top;
	background-size: cover !important;
}

#u1913:hover
{
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover !important;
}

#u1916
{
	border-color: #000000;
	position: relative;
	background: transparent url("../images/about244x488.png") no-repeat center top;
	background-size: cover !important;
}

#u1913.MuseLinkActive,#u1916:hover
{
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover !important;
}

#u1915
{
	border-color: #000000;
	position: relative;
	background: transparent url("../images/contact312x624.png") no-repeat center top;
	background-size: cover !important;
}

#u1916.MuseLinkActive,#u1915:hover
{
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover !important;
}

#u1909
{
	border-color: #000000;
	position: relative;
	background: transparent url("../images/blog212x424.png") no-repeat center top;
	background-size: cover !important;
}

#u1915.MuseLinkActive,#u1909:hover
{
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover !important;
}

#u1909.MuseLinkActive
{
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover !important;
}

#u2067
{
	border-color: #000000;
	position: relative;
	background: transparent url("../images/listcatalog593x440.png") no-repeat center bottom;
	background-size: cover !important;
}

#u2067:hover
{
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover !important;
}

#u2067.MuseLinkActive
{
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover !important;
}

#u1949,#u1910,#u1955
{
	position: relative;
}

#u1957
{
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
}

#u1956-4
{
	color: #FFFFFF;
	line-height: 13px;
	text-align: center;
	font-size: 11px;
	position: relative;
}

